In [2]:
import numpy as np
import pandas as pd

In [22]:
columns = ["Feature-1", "Feature-2", "Feature-3", "Output"]
list = [["Male", 23, 24, "Yes"], 
        [None, 24, 25, "No"],
        ["Female", 25, 26, "Yes"],
         ["Male", 26, 27, "Yes"]]

In [23]:
df = pd.DataFrame(list, columns=columns)
df.head()

  Feature-1  Feature-2  Feature-3 Output
0      Male         23         24    Yes
1      None         24         25     No
2    Female         25         26    Yes
3      Male         26         27    Yes

In [24]:
# Find the number of missing values per column.
df.isnull().sum()

Feature-1    1
Feature-2    0
Feature-3    0
Output       0
dtype: int64

In [25]:
# APPROCHE 1
approche1 = df.dropna(axis=0)
approche1.head()

  Feature-1  Feature-2  Feature-3 Output
0      Male         23         24    Yes
2    Female         25         26    Yes
3      Male         26         27    Yes

In [26]:
# APPROCHE 2
# Fill missing value with the most frequent value of that column
approche2 = df.fillna(df.mode().iloc[0])
approche2.head()

  Feature-1  Feature-2  Feature-3 Output
0      Male         23         24    Yes
1      Male         24         25     No
2    Female         25         26    Yes
3      Male         26         27    Yes

In [27]:
# APPROCHE 3
# Delete the complete column
approche3 = df.dropna(axis=1)
approche3.head()

   Feature-2  Feature-3 Output
0         23         24    Yes
1         24         25     No
2         25         26    Yes
3         26         27    Yes

In [45]:
from sklearn.impute import SimpleImputer

value = df.values
imputer = SimpleImputer(missing_values=None, strategy='most_frequent')
transformed_values = imputer.fit_transform(value)
print(transformed_values)

[['Male' 23 24 'Yes']
 ['Male' 24 25 'No']
 ['Female' 25 26 'Yes']
 ['Male' 26 27 'Yes']]